apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-deployment
  namespace: namespace-ns
spec:
  replicas: 3
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongo-container
        image: mongo:latest
        ports:
          - containerPort: 27017
        env:
          - name: MONGO_INITDB_DATABASE
            valueFrom:
              configMapKeyRef:
                name: configmap
                key: MONGO_INITDB_DATABASE


