apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-mongo-statefulset
  namespace: {{ .Values.namespace}}
spec:
  replicas: {{ .Values.mongoStatefulset.replicas}}
  serviceName: {{ .Release.Name }}-mongo-service
  selector:
    matchLabels:
      app: {{ .Values.mongoStatefulset.labels.app}}
  template:
    metadata:
      labels:
        app: {{ .Values.mongoStatefulset.labels.app}}
    spec:
      containers:
      - name: {{ .Values.mongoStatefulset.name}}
        image: {{ .Values.mongoImage.repository}}:{{ .Values.mongoImage.tag}}
        ports:
        - containerPort: {{ .Values.mongoPort}}
        volumeMounts:
          - mountPath: /data/db
            name: {{ .Release.Name }}-mongo-data
        env:
        - name: {{ .Release.Name }}-MONGO_INITDB_DATABASE
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-configmap
              key: MONGO_INITDB_DATABASE
  volumeClaimTemplates: 
    - metadata:
        name: {{ .Release.Name }}-mongo-data
      spec:
        accessModes: {{ .Values.pvc.accessModes}}
        storageClassName: {{ .Release.Name }}-vegitable-sc
        resources:
          requests:
            storage: {{ .Values.pvc.resources.requests.storage}}
